# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# Local credentials
.env
.env.*
!.env.example
benchmark-results.json

.idea/
*.zip

.idea/
*.zip
